* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #FF204E;
    background-image: url(https://images.unsplash.com/photo-1527515234283-d93c5f8486a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFja2dyb3VuZCUyMHBvcnRvZm9saW98ZW58MHx8MHx8fDA%3D)
}

nav {
    /* background-color: #00224D; */
    /* width: 100%;
    height: 100%; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #D9FFF4;
}

.nav-kiri {
    color: white;
}

.logo {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding-left: 20px;
    object-fit: cover;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    list-style: none;
    padding-right: 20px;
}

nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav ul a:hover {
    color: #FF204E;
}


.profile {
    background-color: #8DB355;
    height: 500px;
}

.foto-profile {
    height: 300px;
    width: 300px;
    margin-top: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile h2 {
    margin-top: 1rem;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.profile h3 {
    margin-top: 5px;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about {
    width: 80%;
    margin: 50px auto;
}

.about h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;
}

.content-about {
    display: flex;
    gap: 40px;
}

.left, .right {
    flex: 1;
    font-weight: bold;
    color: azure;
}


.skill {
    background-color: #8DB355;
    text-align: center;
}

.skill h1 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.content-skill {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    /* background-color: #000000; */
}

.card1, .card2, .card3 {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.img1, .img2, .img3 {
    width: 200px;
    height: 200px;
    flex: 1;
    object-fit: cover;
    /* border-radius: 50%; */
}

.card1 h2, .card2 h2, .card3 h2 {
    padding-top: 20px ;
}

.container-form {
    background-color: #A0153E;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0px 0px 20px #D9FFF4;
    width: 100%;
    max-width: 650px;
    margin: 50px auto;
    /* background-image: url("back.jpg"); */
    background-size: cover;
    height: 400px;
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.contact {
    height: 300px;
    margin: 50px auto;
    max-width: 650px;
    padding: 20px;
}

.contact h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-map {
    flex: 1;
}

.content-contact {
    font-weight: bold;
    
}

form {
    
}

.form-group {
    font-family:Arial, Helvetica, sans-serif;

}

input[type="text"], textarea {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
}

label {
    display: block;
    margin: 10px auto;
}

.btn {
    padding: 10px;
    margin-top: 1rem;
    width: 100%;
    background-color: #8DB355;
    color: white;
}

.btn:hover {
    background-color: white;
    color: #8DB355;
    cursor: pointer;
}

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;
}